<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quirogal.cursoandroidii.partedos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityGuiaSesion2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SES(ION 2-->

        <activity android:name=".sesion2.Sesion2_controles_comunes"></activity>
        <activity android:name=".sesion2.Sesion2_navegacion_drawelayout"></activity>
        <activity android:name=".sesion2.Sesion2_navegacion_bottomnavview"></activity>
        <activity android:name=".sesion2.Sesion2_actionbar"></activity>
        <activity android:name=".sesion2.Sesion2_spiner"></activity>
        <activity android:name=".sesion2.Sesion2_autocomplete"></activity>
        <activity android:name=".sesion2.Sesion2_alertdialog"></activity>
        <activity android:name=".sesion2.Sesion2_materialdesign1"></activity>
        <!-- -->
        <activity android:name=".sesion2.Sesion2_orientacion" android:screenOrientation="fullSensor"  android:configChanges="orientation|screenSize"></activity>
    </application>

</manifest>